@font-face {
  font-family: 'GilroyLight';
  src: local('GilroyLight'),
    url('utils/fonts/GilroyLight.otf') format('truetype');
}
@font-face {
  font-family: 'GilroyBold';
  src: local('GilroyBold'), url('utils/fonts/GilroyBold.otf') format('truetype');
}

html {
  height: -webkit-fill-available !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'GilroyLight';
}

:root {
  --blue: #4b2cb1;
}

body {
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: white;
  min-height: 100vh !important;
  min-height: -webkit-fill-available !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  white-space: nowrap;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  text-transform: capitalize;
  font-family: 'GilroyBold' !important;
  font-weight: 800;
}
